# Định nghĩa Scope: Mọi gói bắt đầu bằng @dpm-shared sẽ trỏ về Feed nội bộ này
@dpm-shared:registry=https://devopsrc.vuthao.com/SourceCode/DPM.Platform/_packaging/DPM.UI.Shared/npm/registry/

# Ép buộc pnpm luôn phải xác thực khi truy cập vào registry trên
always-auth=true

# Chỗ trống để Pipeline tự điền Token hệ thống (biến ${NODE_AUTH_TOKEN} sẽ được task npmAuthenticate lấp đầy)
//devopsrc.vuthao.com/SourceCode/DPM.Platform/_packaging/DPM.UI.Shared/npm/registry/:_authToken=${NODE_AUTH_TOKEN}