node_modules
.dist
.dist*
dist
.turbo
pnpm-lock.yaml
.gitignore
**/*.config.ts
**/*.config.js
*.config.mjs
.node-version
.npmrc
.gitignore
.prettierignore
*.html
*.json
*.svg
*.md
*.css
*.scss
*.d.ts
*.yaml
*.code-workspace
*.env
.prettierrc.ts
