trigger:
    branches:
        include:
            - develop
            - staging
            - release/*

pool:
    name: 'AgentDocker'

variables:
    project: 'DPM.Platform'
    feedName: 'DPM.UI.Shared'
    targetFeedUrl: 'https://devopsrc.vuthao.com/SourceCode/$(project)/_packaging/$(feedName)/npm/registry/'

stages:
    - stage: Build
      displayName: Build & Test
      jobs:
          - job: build
            displayName: Build
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      call corepack enable
                      call corepack prepare pnpm@10.19.0 --activate

                      call pnpm install
                      call pnpm run build
                  displayName: Install & Build (pnpm)

    - stage: Publish
      displayName: Publish to Azure Artifacts
      dependsOn: Build
      condition: and(
          succeeded(),
          startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

      jobs:
          - job: publish
            displayName: Publish
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'
                - task: npmAuthenticate@0
                  inputs:
                      workingFile: .npmrc

                - script: |
                      call corepack enable
                      call corepack prepare pnpm@10.19.0 --activate
                      REM ==== Detect base version from package.json ====
                      for /f "tokens=2 delims=:," %%A in ('findstr "version" package.json') do set BASE_VERSION=%%~A
                      set BASE_VERSION=%BASE_VERSION:"=%

                      REM ==== Detect tag or branch ====
                      echo SourceBranch=%BUILD_SOURCEBRANCH%
                      echo SourceBranchName=%BUILD_SOURCEBRANCHNAME%

                      if "%BUILD_SOURCEBRANCH:~0,10%"=="refs/tags" (
                        REM Tag build → use tag version
                        set VERSION=%BUILD_SOURCEBRANCHNAME:~1%
                      ) else (
                        REM Branch build → append suffix
                        set SHORT_SHA=%BUILD_SOURCEVERSION:~0,7%
                        set BRANCH=%BUILD_SOURCEBRANCHNAME%
                        set VERSION=%BASE_VERSION%-%BRANCH%-%SHORT_SHA%
                      )

                      echo Publishing version %VERSION%

                      call pnpm version %VERSION% --no-git-tag-version --allow-dirty
                      call pnpm publish --registry $(targetFeedUrl) --no-git-checks --ignore-scripts
                  displayName: Publish package (pnpm)
