trigger:
    branches:
        include:
            - develop
            - staging
            - release/*

pool:
    name: 'AgentDocker'

stages:
    - stage: Build
      displayName: Build & Test
      jobs:
          - job: build
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      npm i
                      npm run build
                  displayName: Build

    - stage: Publish
      displayName: Publish to Azure Artifacts
      dependsOn: Build
      condition: and(
          succeeded(),
          startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

      jobs:
          - job: publish
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      set VERSION=%BUILD_SOURCEBRANCHNAME:~1%
                      echo "Publishing version %VERSION%"

                      npm version %VERSION% --no-git-tag-version
                      npm publish
                  displayName: Publish package
