trigger:
    branches:
        include:
            - develop
            - staging
            - release/*

pool:
    name: 'AgentDocker'

stages:
    - stage: Build
      displayName: Build & Test
      jobs:
          - job: build
            displayName: Build
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      corepack enable
                      corepack prepare pnpm@10.19.0 --activate

                      pnpm install --frozen-lockfile
                      pnpm run build
                  displayName: Install & Build (pnpm)

    - stage: Publish
      displayName: Publish to Azure Artifacts
      dependsOn: Build
      condition: and(
          succeeded(),
          startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

      jobs:
          - job: publish
            displayName: Publish
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      set VERSION=%BUILD_SOURCEBRANCHNAME:~1%
                      echo Publishing version %VERSION%

                      pnpm version %VERSION% --no-git-tag-version
                      pnpm publish -registry https://devopsrc.vuthao.com/SourceCode/DPM.Platform/_packaging/DPM.UI.Shared/npm/registry/
                  displayName: Publish package (pnpm)
