trigger:
    branches:
        include:
            - develop
            - staging
            - release/*

pool:
    name: 'AgentDocker'

variables:
    project: 'DPM.Platform'
    feedName: 'DPM.UI.Shared'
    targetFeedUrl: 'https://devopsrc.vuthao.com/SourceCode/$(project)/_packaging/$(feedName)/npm/registry/'

stages:
    - stage: Build
      displayName: Build & Test
      jobs:
          - job: build
            displayName: Build
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'

                - script: |
                      call corepack enable
                      call corepack prepare pnpm@10.19.0 --activate

                      call pnpm install
                      call pnpm run build
                  displayName: Install & Build (pnpm)

    - stage: Publish
      displayName: Publish to Azure Artifacts
      dependsOn: Build
      condition: and(
          succeeded(),
          startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

      jobs:
          - job: publish
            displayName: Publish
            steps:
                - checkout: self
                  fetchDepth: 0

                - task: NodeTool@0
                  inputs:
                      versionSpec: '24.x'
                - task: npmAuthenticate@0
                  inputs:
                      workingFile: .npmrc

                - script: |
                      call corepack enable
                      call corepack prepare pnpm@10.19.0 --activate
                      set VERSION=%BUILD_SOURCEBRANCHNAME:~1%
                      echo Publishing version %VERSION%

                      call pnpm version %VERSION%
                      call pnpm publish --registry $(targetFeedUrl) --no-git-checks --no-scripts
                  displayName: Publish package (pnpm)
